[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "==2.0.3"
python-dotenv = "*"
flask-migrate = "==3.0.1"
pymysql = "==1.0.2"
marshmallow-sqlalchemy = "==0.28.0"
flask-marshmallow = "==0.14.0"
webargs = "==8.2.0"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.8"
