{% extends "base.html" %}

{% block link %}
<link href="https://unpkg.com/gridjs/dist/theme/mermaid.min.css" rel="stylesheet" />
<link href="{{url_for('static', filename='table.css')}}" rel="stylesheet" />
{% endblock %}

{% block page_content %}
<div>
    <h1>預售屋實價登錄</h1>
    <hr>
    <div id="table"></div>
</div>
{% endblock %}

{% block scripts %}
<script src="https://unpkg.com/gridjs/dist/gridjs.umd.js"></script>
<script src="{{url_for('static', filename='table.js')}}"></script>
{% endblock %}